<!-- <a class="clearfix" (click)="onSelected()" style="cursor: pointer;"> -->
<a class="clearfix active" style="cursor: pointer;"
  [routerLink]="[index]">
  <!-- <div class="float-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="float-right">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 60px;">
  </span> -->
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="recipe.imagePath" alt="{{ recipe.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ recipe.name }}</h5>
      <p class="card-text">{{ recipe.description }}</p>
    </div>
  </div>
</a>
